image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/user-service
  pullPolicy: IfNotPresent
  tag: 10-3a0a581462e51add70f8fd5ed9f1ab0fb5e7c2b2

service:
  type: ClusterIP
  port: 3001

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "3001"
  MONGO_URI: "mongodb://mongodb.default.svc.cluster.local:27017/userdb"
