image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/user-service
  pullPolicy: IfNotPresent
  tag: 8-a0c1c2a4d346ecbe8ce5ac02037c36658b83f6d9

service:
  type: ClusterIP
  port: 3001

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "3001"
  MONGO_URI: "mongodb://mongodb.default.svc.cluster.local:27017/userdb"
