image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/user-service
  pullPolicy: IfNotPresent
  tag: 5-d117b9e48fae61207850924d3341a0af1387d481

service:
  type: ClusterIP
  port: 3001

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "3001"
  MONGO_URI: "mongodb://mongodb.default.svc.cluster.local:27017/userdb"
