image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/user-service
  pullPolicy: IfNotPresent
  tag: 15-998ad30d7236664b83fbfc7d7ece681945c469c3

service:
  type: ClusterIP
  port: 3001

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "3001"
  MONGODB_URI: "mongodb://root:password123@mongodb.dev.svc.cluster.local:27017/userdb?authSource=admin"
